<!-- Fondo general -->
<div class="general">

<!-- Parte superior (amarila) -->
  <header class="arriba">
    <h1>COVID-19 </h1>
    <img src="https://i.postimg.cc/MZ9V5nJ4/Picture2.png" style="width: 85px;" />
  </header>
  
  <div class="grande" style="background: #eaf1ee; height: 100%;">
    
  <br>
  
  <mat-card  class="caja-texto" style="padding-bottom: 110px;  position: relative;">
  
     <mat-tab-group style="width: 900px;">
  
        
          <mat-tab label="Texto">
  
        
              
              <br>
              <br>
              <form class="form-primero">
              
              <div class="primero">
                  <mat-form-field appearance="fill" class="form-group b-white"  style="width: 400px;" >
                      <mat-label>Escribe algo relacionado con el COVID-19</mat-label>
                      <textarea matInput id="text"  [(ngModel)]="form.text"
                       name="description"></textarea>
                    </mat-form-field>
              </div>
  
              <br>
              <div class="boton1">
                <span *ngIf="loading" ><mat-spinner diameter="35"></mat-spinner></span>
                  <button  *ngIf="!loading" mat-flat-button color="primary" (click)="PostNL()">Listo</button>
  
              </div>
            </form>
            
            <br>
            <br>    
              <div class="tercero">

                <mat-list role="list" class="lista-respuesta">
                  <mat-list-item role="listitem" *ngFor="let respuesta of textnl">
                    <mat-card class="respuesta"><b>{{respuesta.type|json}}</b></mat-card>
                    <mat-card class="respuesta">{{respuesta.text|json}}</mat-card>
                  </mat-list-item>
                </mat-list>

                
               
               
              </div>
              <br>
            <br>
            <br>
            <br>
            <br>
       
          </mat-tab>
  
  
          <mat-tab label="Twitter">
               <br>
               <form class="componente-twitter">
              <div class="twitter form-group" style="width: 100%;">              
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>#Hashtag</mat-label>
                      <input matInput placeholder="#Hashtag" class="form-control"  name="hashtag" [(ngModel)]="formtwitter.hashtag">
                      <mat-icon matSuffix>near_me</mat-icon>
                    </mat-form-field>
              </div>
                  <br>
              <div class="boton1">
                <span *ngIf="loading" ><mat-spinner diameter="35"></mat-spinner></span>
                <button mat-flat-button color="primary" type="submit" (click)="GetTwitts()" *ngIf="!loading">Listo</button>
              </div>
            </form>
              <br>
              <br>
  
              <div class="ter">

        
                  <div class="twitter-info" >
  
                    <div  *ngFor="let objeto of data_twitter">
                      <div *ngFor="let object of objeto">

                        <mat-card class="example-card" style="background: #ffffff47; margin: 15px 0px;">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-subtitle>{{object.tweet}}}</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <mat-list role="list" class="lista-respuesta">
                              <mat-list-item role="listitem" *ngFor="let analisis of object.analysis">
                                <mat-card class="respuesta"><b>{{analisis.type}}</b></mat-card>
                                <mat-card class="respuesta">{{analisis.text}}</mat-card>
                              </mat-list-item>
                            </mat-list>
                          </mat-card-content>
                        </mat-card>


                      </div>
                  </div>
                    
                    
    
                    
                </div>
                </div>
          
          </mat-tab>

          <mat-tab label="Object Storages"> 
            <br>


            <form class="componente-twitter">
            <div class="tercero" style="width: 100%;">              
                  <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Object Storage</mat-label>
                  
                  <input matInput placeholder="nombre .txt" id="name"  [(ngModel)]="form1.name"
                  name="description">
                  <mat-icon matSuffix>cloud</mat-icon>
                
                  </mat-form-field>
            
            </div>

            
            <div class="boton1"> 
              <span *ngIf="loading" ><mat-spinner diameter="35"></mat-spinner></span>
              <button *ngIf="!loading" mat-flat-button color="primary" (click)="PostNLObjectStorages()" >Obtener</button>
            </div>
           
              <br>
              

            <div class="otra-cosa" *ngIf="txt" style="margin: 10px 0px;">
              <mat-card style="background: #eaf1ee">{{txt}}</mat-card>
            </div>
            <div class="boton1" style="margin: 10px 0px;" *ngIf="txt">
              <span *ngIf="loading2" ><mat-spinner diameter="35"></mat-spinner></span>
              <button *ngIf="!loading2" mat-flat-button color="primary" (click)="ObjectNL()"  style="position: btn-block;  right: 0;">Procesar</button>
             </div>
            </form>

            <br>
            <br>
            <br>
          

            <div class="tercero">

              <mat-list role="list" class="lista-respuesta">
                <mat-list-item role="listitem" *ngFor="let respuesta of nl">
                  <mat-card class="respuesta"><b>{{respuesta.type|json}}</b></mat-card>
                  <mat-card class="respuesta">{{respuesta.text|json}}</mat-card>
                </mat-list-item>
              </mat-list>             
             
            </div>
        
            <br>
            <br>
            <br>
            <br>
        </mat-tab>
      </mat-tab-group>
    <!-- Parte inferior (muñecos) -->
    <div class= "footer"></div>
    </mat-card>
</div>
        

<!-- División mitad de la pantalla -->




