.general
{
  height:100%;
  width: 100%;
  background: #eaf1ee;

}


.arriba {
  display: flex;
  text-align: center;
  width: 400px;
  margin: auto;
  padding-top: 40px;
}

.arriba h1{
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  color: #84dec3;
}

.medio {
  
  margin: 0 auto;
  background-color: brown;
 }

 .box02{
  width:200px;
  height: 100px;
  background: blue;
}

.box03{
  width: 100px;
  height: 180px;
  background: green;
}



.footer {

  position:absolute;
  line-height:50px;
  background:url(https://i.postimg.cc/xCL5bQC9/abajo.png);
  left:0;
  width:100%;
  height: 135px;
  display:inline-block;
  bottom: 0px;
 
}

.caja-texto {
    width: 900px;
    background: transparent;
    margin: auto;
    box-shadow: none !important;
}


.respuesta{
  width: 250px;
  margin: 2px 5px;
  background: #ffffff47;
}

.form-primero {
  text-align: center;
}

.mat-form-field-flex{
  background: white !important;
}

.tercero{
  max-width: 510px;
  margin: auto;
}

.componente-twitter{
  width: 400px;
  margin: auto;
  text-align: center;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FFF;
}

.boton1{
  width: 40px;
  margin: auto;
}

.boton1 button{
  background: #84dec3;
}

.twitter-info{
  width: 500px; 
  margin: auto; 
  max-height: 300px;
}